@{
    ViewBag.Title = "Home";
    var data = DateTime.Today;

    List<VitrineProdutos.Core.Data.tb_produto> produtos;
    using (var context = new VitrineProdutos.Core.Data.VITRINE_PRODUTOS_DBEntities1())
    {
        produtos = context.tb_produto.ToList();
    }
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title">Promoções do dia - @data.ToShortDateString()</h2>
        <p class="lead"></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                Alguns produtos podem estar com o preço defasado.
            </p>
        </section>
    </div>

    <div class="row">
        @foreach (var produto in produtos)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@produto.urlImagem" class="card-img-top" alt="Imagem do produto">
                    <div class="card-body">
                        <h5 class="card-title">@produto.nome</h5>
                        <p class="card-text">@produto.descricao</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="@produto.linkAfiliado" class="btn btn-sm btn-outline-secondary" target="_blank">Comprar</a>
                            </div>
                            <small class="text-muted">R$ @(produto.valor / 100)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
